.main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  color: white;
  background-color: black;
}
.main-header-right {
    padding: 10px;
    font-size: 1.5rem;
    font-family: "Bebas Neue", sans-serif;

    span{
      color: red;
    }
}
.main-header-left {
  ul {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    font-family: "Inter", sans-serif;

    li {
        font-size: 1.2rem;
      list-style: none;
    }
  }
}
