<div class="main">
    <div class="left">
        <div class="">About <span>me</span></div>
    </div>
    <div class="right">
        <div class="top">I am a front-end developer based in India. Has Software Engineering background. </div>
        <div class="mid">
            I am a front-end developer based in India looking for exciting opportunities. Has Software Engineering background. Likes to focus on accessibility when developing. Passionate and curious about solving problems. Currently, I'm exploring Angular, Webflow and a bit of Designing. While I am not programming, I enjoy playing football, photography and playing Chess. Learning more to improve skill.
        </div>
        <div class="bottom">More about me</div>
    </div>
</div>