.main{
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
    margin-top: 2rem;
    .heading{
        // border: 2px solid black;
        // text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;

        .heading-box{
            width: 38%;
            // border: 2px solid red;

            .title{
                font-family: "Bebas Neue", sans-serif;
                font-size: 5rem;
            }
            .dec{
                font-family: "Manrope", sans-serif;
                font-size: 1.2rem;
            }
        }
    }
    .project-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 10rem;
        margin-top: 10rem;
    }
}

@media(max-width:1280px){
    .main{
        .heading{
            text-align: center  ;

            .heading-box{
                width: 100%;
            }
        }
        .project-list{
            width: auto;
            height: auto;
            
        }
    }
}
@media(max-width:425px){
    .main{
        margin: 2rem;
        .heading{
            text-align: center  ;

            .heading-box{
                width: 100%;
            }
        }
        .project-list{
            width: auto;
            height: auto;
            
        }
    }
}