*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: url("/assets/cursor.png"), auto;
}
// // body {}
// a:hover {
//     cursor: url("/assets/hover.png"), auto;

//   };